# Questions and Answers

In [521]:
# Q1: Import datasets from the Data folder from CSV.
import pandas as pd

customer = pd.read_csv('customer.csv')
sales = pd.read_csv('sales.csv')
products = pd.read_csv('products.csv')

In [520]:
# Q2: How many unique products are sold?
import pandas as pd

print(len(products['product'].unique()))

8

In [495]:
# Q3: List the unique products sold.
import pandas as pd

print(products['product'].unique())

['Hard Disk' 'RAM' 'Monitor' 'CPU' 'Keyboard' 'Mouse' 'Motherboard'
 'Power supply']

In [496]:
# Q4: List the quantity sold for each product and product id (No Multilevel indexing).
import pandas as pd

print(sales.groupby(['product', 'p_id'], as_index = False).agg({'qty': 'sum'}))

   product  p_id  qty
0      CPU     4    1
1  Monitor     3   12
2      RAM     2    7

In [497]:
# Q5: For each product, give the total Quantity sold and the revenue earned from the total sales (price x quantity).
import pandas as pd

sales_and_product = pd.merge(sales, products[['p_id', 'price']], left_on = "p_id", right_on = "p_id", how = "left")
sales_and_product_grped = sales_and_product.groupby(['product', 'price'], as_index = False).agg({'qty':'sum'})
sales_and_product_grped['revenue'] = sales_and_product_grped['price'] * sales_and_product_grped['qty']
print(sales_and_product_grped)

   product  price  qty  revenue
0      CPU     55    1       55
1  Monitor     75   12      900
2      RAM     90    7      630

In [498]:
# Q6: List of quantity sold against each product and against each store and sort by store and product.
import pandas as pd


print(sales.groupby(['store', 'product'], as_index = False).agg({'qty':'sum'}).sort_values(by = ['store', 'product']))

  store  product  qty
0   ABC  Monitor   10
1   ABC      RAM    3
2   DEF      CPU    1
3   DEF  Monitor    2
4   DEF      RAM    4

In [499]:
# Q7: List of quantity sold against each Store with total turnover of the store.
import pandas as pd


sales_and_product = pd.merge(sales, products[['p_id', 'price']], left_on = "p_id", right_on = "p_id", how = "left")
sales_and_product_grped = sales_and_product.groupby(['price', 'store'], as_index = False).agg({'qty':'sum'})
sales_and_product_grped['revenue'] = sales_and_product_grped['price'] * sales_and_product_grped['qty']
print(sales_and_product_grped.groupby(['store'], as_index = False).agg({'qty': 'sum', 'revenue':'sum'}))

  store  qty  revenue
0   ABC   13     1020
1   DEF    7      565

In [500]:
# Q8: List the products which are not sold.
import pandas as pd
import numpy as np


products_unique = list(products['product'].unique())
products_sold = list(sales['product'].unique())
print(np.setdiff1d(products_unique, products_sold))

['Hard Disk' 'Keyboard' 'Motherboard' 'Mouse' 'Power supply']

In [501]:
# Q9: List of customers who have not purchased any product.
import pandas as pd
import numpy as np


customers_purchased = list(pd.merge(sales, customer, left_on = 'c_id', right_on = 'c_id', how = 'left')['Customer'].unique())
customers_all = list(customer['Customer'].unique())
print(np.setdiff1d(customers_all, customers_purchased))

['Jem' 'King' 'Ronn' 'Tom']

In [502]:
# Q10: Assign a 'birthday_this_year' column to the customer table where each customer has a birthday associated with them in the yyyy-mm-dd format.
# Let c_id = 1 have birthday '2020-01-01', then let the next customer c_id = 2 have a birthday 1 days later than that the birthday of c_id = 1.
# Continue in this way such that customer c_id = 3 has their birthday 2 days later than the birthday of c_id = 2 and so on.
# Finally, customer c_id = 9 will have their birthday 8 days later than the birthday of c_id = 8.
import pandas as pd
from datetime import datetime
import numpy as np


customer['start_date'] = '2020-01-01'
customer['start_date'] = pd.to_datetime(customer['start_date'])
customer['days_to_add'] = pd.concat([pd.Series(0), pd.Series(customer['c_id'].cumsum()[:-1])], axis=0).reset_index()[0]
customer['birthday_this_year'] = customer['start_date'] + pd.to_timedelta(pd.np.ceil(customer.days_to_add), unit="D")
customer = customer[['c_id', 'Customer', 'birthday_this_year']]
print(customer)

   c_id Customer birthday_this_year
0     1     Rabi         2020-01-01
1     2     Raju         2020-01-02
2     3     Alex         2020-01-04
3     4     Rani         2020-01-07
4     5     King         2020-01-11
5     7     Ronn         2020-01-16
6     8      Jem         2020-01-23
7     9      Tom         2020-01-31

<ipython-input-502-5ceb774da33e>:17: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  customer['birthday_this_year'] = customer['start_date'] + pd.to_timedelta(pd.np.ceil(customer.days_to_add), unit="D")

In [513]:
# Q11: Make a dataframe for the new customer 
# pd.DataFrame({'c_id': [10, 11, 12, 13], 'Customer': ['James', 'Bill', 'Susie', 'Emma'], 'birthday_this_year': ['2020-07-28', '2020-04-05', '2020-11-25', '2020-06-14']})
# and union this dataframe with the current customer dataframe. Ensure all column types are the same. Sort customers by c_id in ascending order and reset the index.
import pandas as pd


customer['start_date'] = '2020-01-01'
customer['start_date'] = pd.to_datetime(customer['start_date'])
customer['days_to_add'] = pd.concat([pd.Series(0), pd.Series(customer['c_id'].cumsum()[:-1])], axis=0).reset_index()[0]
customer['birthday_this_year'] = customer['start_date'] + pd.to_timedelta(pd.np.ceil(customer.days_to_add), unit="D")
customer = customer[['c_id', 'Customer', 'birthday_this_year']]

new_customers = pd.DataFrame({'c_id': [10, 11, 12, 13], 'Customer': ['James', 'Bill', 'Susie', 'Emma'], 
             'birthday_this_year': ['2020-07-28', '2020-04-05', '2020-11-25', '2020-06-14']})
customers = pd.concat([new_customers, customer], axis = 0)
customers['birthday_this_year'] = pd.to_datetime(customers['birthday_this_year'])
customers = customers.sort_values(by = ['c_id']).reset_index()[['c_id', 'Customer', 'birthday_this_year']]
print(customers)

    c_id Customer birthday_this_year
0      1     Rabi         2020-01-01
1      2     Raju         2020-01-02
2      3     Alex         2020-01-04
3      4     Rani         2020-01-07
4      5     King         2020-01-11
5      7     Ronn         2020-01-16
6      8      Jem         2020-01-23
7      9      Tom         2020-01-31
8     10    James         2020-07-28
9     11     Bill         2020-04-05
10    12    Susie         2020-11-25
11    13     Emma         2020-06-14

<ipython-input-513-e40857672dbc>:13: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  customer['birthday_this_year'] = customer['start_date'] + pd.to_timedelta(pd.np.ceil(customer.days_to_add), unit="D")

In [515]:
# Q12: Add an indicator column in the sales table called 'qty_multiple_2' where 1 indicates if the qty is a multiple of 2 and 0 otherwise.
import pandas as pd


sales['qty_multiple_2'] = np.select([sales['qty'] % 2 == 0], [1], default = 0)
print(sales)

   sale_id  c_id  p_id  product  qty store  qty_multiple_2
0        1     2     3  Monitor    2   ABC               1
1        2     2     4      CPU    1   DEF               0
2        3     1     3  Monitor    3   ABC               0
3        4     4     2      RAM    2   DEF               1
4        5     2     3  Monitor    3   ABC               0
5        6     3     3  Monitor    2   DEF               1
6        7     2     2      RAM    3   ABC               0
7        8     3     2      RAM    2   DEF               1
8        9     2     3  Monitor    2   ABC               1

In [516]:
# Q13: Create a column called Age in the new customers table where each customer has ages [24, 29, 42, 35, 32, 28, 19, 38, 27, 29, 34, 25].
import pandas as pd



customers['Age'] = [24, 29, 42, 35, 32, 28, 19, 38, 27, 29, 34, 25]
print(customers)

   c_id Customer   birthday_this_year  Age
0    10    James           2020-07-28   24
1    11     Bill           2020-04-05   29
2    12    Susie           2020-11-25   42
3    13     Emma           2020-06-14   35
0     1     Rabi  2020-01-01 00:00:00   32
1     2     Raju  2020-01-02 00:00:00   28
2     3     Alex  2020-01-04 00:00:00   19
3     4     Rani  2020-01-07 00:00:00   38
4     5     King  2020-01-11 00:00:00   27
5     7     Ronn  2020-01-16 00:00:00   29
6     8      Jem  2020-01-23 00:00:00   34
7     9      Tom  2020-01-31 00:00:00   25

In [518]:
# Q14: Compute the date of birth for each customer.
import pandas as pd


DOB = []
for i in range(0, len(customers)):
    current_DOB = customers['birthday_this_year'][i] - pd.DateOffset(years = customers['Age'][i])
    DOB.append(current_DOB)
    
customers['DOB'] = pd.Series(DOB)
print(customers)

TypeError: cannot convert the series to <class 'int'>

In [509]:
# Q15: In the most recent customer table, assign a column which tells us which astrology star sign each customer is.
import pandas as pd


zodiacs = [(120, 'Cap'), (218, 'Aqu'), (320, 'Pis'), (420, 'Ari'), (521, 'Tau'),
           (621, 'Gem'), (722, 'Can'), (823, 'Leo'), (923, 'Vir'), (1023, 'Lib'),
           (1122, 'Sco'), (1222, 'Sag'), (1231, 'Cap')]

def get_zodiac_of_date(date):
    date_number = int("".join((str(date.date().month), '%02d' % date.date().day)))
    for z in zodiacs:
        if date_number <= z[0]:
            return z[1]


customers['star_sign'] = customers['DOB'].apply(get_zodiac_of_date)
print(customers)

ValueError: cannot convert float NaN to integer

In [519]:
# Q16: Consider the rectangles dataset, read it in, compute the area of each rectangle and save the file to CSV called 'rectangles_new'.
import pandas as pd


rectangles = pd.read_csv('rectangles_old.csv')

def calculate_area(row):
    return row['height'] * row['width']

rectangles['area'] = rectangles.apply(calculate_area, axis=1)
print(rectangles)
# rectangles.to_csv('rectangles_new.csv')

   height  width   area
0    40.0     10  400.0
1    20.0      9  180.0
2     3.4      4   13.6